@import "config.less";

.max_body_width {
  max-width: 1200px;
}

body {
  min-width: 320px;
  .max_body_width;
  margin: auto !important;
  background: #f1f4f8;

}

html {
  font-size: 16px;

  @media only screen and (max-width: @mobile-view) {
    font-size: 26px;
  }
  @media only screen and (max-width: 780px) {
    font-size: 16px;
  }
  @media only screen and (max-width: 320px) {
    font-size: 12px;
  }
}

.header-logo {
  width: 100%;
  margin: 1rem 0;
  text-align: center;
}

.chkout-content-wrapper {
  width: 95%;
  margin: auto;
  //background: rebeccapurple;
  .cho-product-tag-block {
    background: white;
    width: 100%;
    border-radius: 10px;
    .tag-block-header {
      width: 100%;
      padding: 0.2rem 0;
      background: #4fcbd5;

      text-align: center;
      font-family: Open_sans_bold;
      font-size: 2.25rem;
      color: white;
      text-transform: uppercase;

      border-radius: 10px 10px 0 0;
    }
    .tag-block-content {
      .flex-display;
      .flex-direction(row);
      .justify-content(space-between);
      .align-items(stretch);
      @media only screen and (max-width: @mobile-view) {
        .flex-wrap(wrap-reverse);
      }
      width: 100%;
      .tag-block-img {
        .flex-basis(40%);
        @media only screen and (max-width: @mobile-view) {
          .flex-basis(100%);
        }
        div {
          height: 100%;
          .flex-display;
          .justify-content(center);
          .align-items(center);
          img {
            width: 100%;
          }
        }

      }
      .tag-block-wrapper {
        .flex-basis (60%);
        @media only screen and (max-width: @mobile-view) {
          .flex-basis (100%);
        }
        .tag-block {
          height: 100%;
          .flex-display;
          .flex-direction(column);
          .justify-content(center);
          .align-items(center);
          .tag-block-row {
            width: 100%;
            text-align: center;
          }
          .tag-block-row-2itm {
            width: 100%;
            .flex-display;
            .flex-direction(row);
            .justify-content(space-between);
            .align-items(center);
            .flex-wrap(nowrap);
          }
          .tag-block-pink-rect {
            margin: .5rem;
            padding: .6rem;
            background: #e40063;
            border-radius: 20px;
            color: white;
            font-family: Open_sans_bold;
            font-size: 1.125rem;
          }
        }
        .tag-block-row {
          width: 100%;
          //text-align: center;
        }

        .tag-block-row-2 {
          //background: red;
          div {
            .flex-basis(45%);
            background: honeydew;
          }
        }
      }
    }
  }
  //cho-product-tag-block

  .chkout-itm-center-info {
    margin: 1rem auto;
    width: 70%;
    line-height: 1.7rem;
    .pink-text {
      color: #e40063;
    }
  }

  .chkout-input-column-wrapper {
    .flex-display;
    .flex-direction(row);
    .justify-content(space-between);
    .align-items(stretch);
    @media only screen and (max-width: @mobile-view) {
      .flex-wrap(wrap);
    }
    .chkout-input-column {
      .flex-basis(48%);
      @media only screen and (max-width: @mobile-view) {
        .flex-basis(100%);
      }
      //background: darkolivegreen;
      .chkout-input-block {
        background: white;
        border-radius: 5px;
        padding: 0.5rem;
        .chi-badge-block {
          //background: lavender;
          .flex-display;
          .flex-direction(row);
          .justify-content(space-between);
          .align-items(stretch);
          .chi-badge-img {
            .flex-basis(25%);
            div {
              margin: 1rem;
              img {
                width: 100%;
              }
            }
          }
          .chi-badge-txt {
            .flex-basis(75%);
            .chi-badge-txt-wrpr {
              height: 100%;
              .flex-display;
              .flex-direction(column);
              .justify-content(center);
              .align-items(stretch);
              font-family: Open_sans;
              font-size: 1.125rem;
              .chi-badge-big-txt{
                font-family: Open_sans_bold;
                font-size: 1.75rem;
              }
            }
            .chi-badge-txt-wrpr div:first-child {
              color: #e40063;
            }
          }

        }
        .chkout-input-header {
          margin: 0.3rem;
          padding: 0.5rem;
          background: #515151;
          color: white;
          font-family: Open_sans;
          font-size: 1.125rem;
        }
        .chi-check-box {
          margin: 0.5rem;
          font-family: Open_sans;
          font-size: 0.875rem;
          .chi-check-box-row {
            margin: 0.7rem 0;
            //padding: 0.3rem;
            .flex-display;
            .flex-direction(row);
            .justify-content(space-between);
            .align-items(center);
            .chi-check-box-itm1 {
              padding: 0.2rem;
              //background: darkturquoise;
              .flex-basis (78%);
              .check-box-item-wrapper {
                width: 100%;
                .flex-display;
                .flex-direction(row);
                .align-items(flex-start);
                .justify-content(flex-start);
                p {
                  margin: 0;
                  padding: 0;
                  .flex-basis(5%);
                  input[type=radio] {
                    width: 1rem; /*Desired width*/
                    height: 1rem; /*Desired height*/
                    cursor: pointer;
                    outline: none;
                  }
                }
                div {
                  @media only screen and (max-width: @mobile-view) {
                    padding-left: 0.6rem;
                  }
                  .flex-basis (95%);
                }
              }
            }
            .chi-check-box-itm2 {
              padding: 0.2rem;
              .flex-basis(20%);
              //background: blanchedalmond;
              text-align: right;
            }
            .header-align-right {
              text-align: left;
            }
          }
          //chi-check-box-row
        }

        .chkout-input-2nd-grup {
          //background: burlywood;
          .flex-display;
          .flex-direction(column);
          .justify-content(space-between);
          .align-items(stretch);
          .chi-2nd-row {
            //background: plum;
            padding: .4rem 2.5rem 0 .9rem;
          }
          .chi-2nd-row-name {
            font-family: Open_sans_bold;
            font-size: 0.8125rem;
            padding-left: 0.7rem;
            .chi-name-and-help{
              .flex-display;
              .flex-direction(row);
              .justify-content(space-between);
              .align-items(center);
              margin-right: 0.5rem;
              p{
                .flex-basis(70%);
                margin: 0;
              }
              div{
                .flex-basis(30%);
                font-size: 0.75rem;
                text-align: right;
                a {
                  text-decoration: none;
                }
                //flex-grow:1;
              }

            }
          }
          .chi-2nd-row-input {
            margin: 0.5rem;
            font-family: Open_sans;
            font-size: 0.875rem;
            input[type=text] {
              box-sizing: border-box;
              width: 100%;
              padding: 0.4rem 0 0.4rem 0.4rem;
              border: 1px solid darkgrey;
            }
          }
          .chi-row-2-inputs{
            //background: cornflowerblue;
            padding: .4rem 2.5rem 0 .9rem;
            .flex-display;
            .flex-direction(row);
            .justify-content(space-between);
            .align-items(center);
            @media only screen and (max-width: @mobile-view) {
              .flex-wrap(wrap);
            }
            .chi-row-half{

              .flex-basis(48%);
              @media only screen and (max-width: @mobile-view) {
                .flex-basis(100%);
              }
            }
          }
          .chi-pay-system-logo{
            text-align: center;
            p{
              width: 95%;
            }
            div {
              padding: .4rem 2.5rem 0 .9rem;
              img {
                width: 80%;
              }
            }
          }
        }
        //chkout-input-2nd-grup
        .chi-hidden-block{
          @media only screen and (max-width: @mobile-view) {
            display: none;
          }
        }
      }// chkout-input-block
      .chkout-input-block-1st{
        @media only screen and (max-width: @mobile-view) {
         border-radius: 5px 5px 0 0;
        }
      }
      .chkout-input-block-2nd{
        @media only screen and (max-width: @mobile-view) {
          border-radius: 0 0 5px 5px;
        }
      }
      .chkout-button-wrapper{
        margin: 1rem 0;
        width: 100%;
        border-radius: 0.9375rem;

        .chkout-button{
          //padding: 0.5rem;
          width: 100%;
          border-radius: 0.9375rem;
          background: url("@{picture-url}/checkout/button_backgraund_rect.png") 0 no-repeat;
          //background-size: 100%;
          background-size: cover;
          border: none;
          cursor:pointer;
          color: white;
          .chkout-button-txt{
            .flex-display;
            .flex-direction(row);
            .justify-content(space-between);
            .align-items(center);
            font-family: Open_sans_bold;
            .chkout-button-txt-1{
              text-align: right;
              .flex-basis(28%);
              font-size: 3.375rem;
            }
            .chkout-button-txt-2{
              text-align: left;
              .flex-basis(70%);
              font-size: 1.125rem;
            }
          }
        }
        .chkout-button:focus{
          border: none;
          outline: none;
        }
        .chkout-button:active{
          background: url("@{picture-url}/checkout/button_backgraund_rect_onClick.png") 0 no-repeat;
          background-size: cover;
        }
      }
    }
  }

  .chkout-footer{
    background: #515151;
    margin: 1rem 0;
    padding: 1rem;
    color: white;
    .flex-display;
    .flex-direction(row);
    .justify-content(space-between);
    .align-items(center);
    @media only screen and (max-width: @mobile-view) {
      .flex-direction(column);
      text-align: center;
    }
    .chkout-footer-txt-left{
      .flex-basis(28%);
      line-height: 1.5rem;
    }
    .chkout-footer-txt-right{
      .flex-basis(70%);
      text-align: right;
      @media only screen and (max-width: @mobile-view) {
        margin: 1rem 0;
        text-align: center;
      }
    }
  }

}

//chkout-content-wrapper