@picture-url: "../../pictures";
@font-url: "../../fonts";
@mobile-view:981px;
@desktop-view:982px;

@font-face {
  font-family: Open_sans_bold;
  src: url('@{font-url}/Open_sans_bold.ttf'),
  url('@{font-url}/Open_sans_bold.eot');
}

@font-face {
  font-family: Open_sans;
  src: url('@{font-url}/OpenSans-Regular.ttf'),
  url('@{font-url}/OpenSans-Regular.eot');
}
@font-face {
  font-family: Open_sans_Regular;
  src: url('@{font-url}/OpenSans-Regular.ttf'),
  url('@{font-url}/OpenSans-Regular.eot');
}

@font-face {
  font-family: Open_sans_Semibold;
  src: url('@{font-url}/OpenSans-Semibold.ttf'),
  url('@{font-url}/OpenSans-Semibold.eot');
}

@font-face {
  font-family: Open_sans_Bold;
  src: url('@{font-url}/Open_sans_bold.ttf'),
  url('@{font-url}/Open_sans_bold.eot');
}

@font-face {
  font-family: RobotoSlab_Regular;
  src: url('@{font-url}/RobotoSlab-Regular.ttf'),
  url('@{font-url}/RobotoSlab-Regular.eot');
}

@import "flexbox.less";
