@import "config.less";
select {
  width: 100%;
  border: 1px solid #b7b7b7;
  //padding: 2.5% 7.5%;
  box-sizing: border-box;
  padding: 0.4rem 0 0.4rem 0.4rem;
  //border-radius: 20px;
  background: #f8f8f8;
  color:#888;

  outline:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
  font-family: Open_sans;
  font-size: 0.875rem;
  background: url("@{picture-url}/select_icon.png") 100% 100% no-repeat;
  background-size: contain;
}
select::-ms-expand {
  display: none;
}
label {
  position:relative;
}