@import "config.less";

/*--------------------------------- variables ------------------------------------------------------------------------*/
@html-font-size: 16px;
@OSB: Open_sans_Bold;
@OSS: Open_sans_Semibold;
@OSR: Open_sans_Regular;
@RSR: RobotoSlab_Regular;

/*--------------------------------- fonts ----------------------------------------------------------------------------*/

html{
  font-size: @html-font-size;
}

.responsive{
  display: none;
}
.desktop{
  display: block;
}
.intext_promo{
  display: none;
}

header{
  background: url("@{picture-url}/header_wave.png") repeat-x;
  padding-top: 1rem;
  height: 6.625rem;
}

header img{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.desktop{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  .flex-display;
  .justify-content(space-between);
  .align-items(center);
  max-width: 60.75rem;
}

.logo_info{
  padding: 0 0.5rem;
}

.logo_info .slogan{
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  max-width: 21.5rem;
  font-family: @OSS;
  font-size: 1.1rem;
  line-height: 1.5rem;
  letter-spacing: -0.047rem;
}

.button{
  cursor: pointer;
  min-width: 11.8rem;
  height: 2.875rem;
  border: none;
  background-color: #ec1676;
  color: white;
  font-family: @OSB;
  font-size: 1.1rem;
  line-height: 1.5rem;
  letter-spacing: -0.047rem;
  text-transform: uppercase;
}

hr{
  clear: both;
  margin-left: auto;
  margin-right: auto;
  max-width: 60.75rem;
  color: #cecece;
}

main{
  margin-right: auto;
  margin-left: auto;
  max-width: 60.75rem;
}

.main_content{
  float: left;
  max-width: 45rem;
}

.main_promo{
  float: right;
  width: auto;
  margin-left: 0.01rem;
}

h1{
  margin-top: 1.7rem;
  margin-bottom: 0.5rem;
  max-width: 40rem;
  font-family: @OSB;
  font-size: 1.875rem;
  line-height: 2.3rem;
}

.author_name{
  margin-bottom: 1.5rem;
  font-family: @OSR;
  font-size: 0.875rem;
  line-height: 2.3rem;
}

.author_name span{
  color: #757575;
}
.video{
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 2rem;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

p{
  max-width: 94%;
  margin-bottom: 2rem;
  font-family: @OSR;
  font-size: 1.13rem;
  line-height: 1.8rem;
}

h2{
  max-width: 94%;
  font-family: @OSB;
  font-size: 1.875rem;
  line-height: 1.75rem;
}

.hr_in_text{
  margin-bottom: 3rem;
}

.banner1_mob_container{
  margin-bottom: 2rem;
  .flex-display;
  .justify-content(space-around);
  .align-items(center);
  background-color: #f2f1ed;
}

.banner1_mobile{
  margin: 1.5rem;
}

.intext_banner1_text{
  margin-left: 0.5rem;
  font-family: @OSB;
  font-size: 2.5rem;
  line-height: 3.53rem;
  text-align: center;
}

.intext_banner1_text .row_2{
  font-size: 3rem;
}

.banner2_mob_container{
  max-width: 720px;
  margin-bottom: 2rem;
}

.comment{
  margin-bottom: 2.5rem;
  .flex-display;
  .justify-content(space-around);
  .align-items(center);
}

.comment_content{
  text-align: left;
  max-width: 19.5rem;
}

.name_stars{
  margin-left: 0;
  max-width: 18rem;
  font-family: @OSB;
  font-size: 1.375rem;
  line-height: 2.06rem;
}

.name_stars div{
  display: inline-block;
}

.name_stars .stars{
  margin-left: 0.5rem;
}

.comment_text{
  font-family: @RSR;
  font-size: 0.8rem;
  line-height: 1.375rem;
}

.three_girls{
  max-width: 720px;
}

.last_header{
  line-height: 2.6rem;
}

.pink{
  color: #ec1676;
}

.bold{
  font-family: @OSB;
}

.head_table_img{
  font-family: @OSS;
  font-size: 1.3rem;
}

.promo_descript{
  margin-top: 5rem;
  margin-bottom: 4rem;
  text-align: right;
  font-family: @OSB;
  line-height: 1.75rem;
}

.first_descr_row{
  font-size: 1.25rem;
}

.second_descr_row{
  font-size: 1.56rem;
}

.bunner{
  margin-bottom: 1rem;
}

.foot_but{
  clear: both;
  height: 4.25rem;
  margin-bottom: 2rem;
  font-family: @OSB;
  font-size: 1.75rem;
  width: 100%;
  text-transform: uppercase;
}


//------------------------------------ media ------------------------------------//
@media screen and (max-width: 975px) {
  .display_promo{
    display: none;
  }
  .intext_promo{
    display: block;
  }
  .main_content{
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    float: none;
  }
  .banner2_mob_container,
  .three_girls,
  .brush_intext_bunner,
  .table_img{
    max-width: 100%;
  }
  .banner2_mob_container img,
  .three_girls img,
  .brush_intext_bunner img,
  .table_img img{
    width: 100%;
  }
}

@media screen and (max-width: 850px){
  .desktop{
    display: none;
  }
  .responsive{
    margin-right: auto;
    margin-left: auto;
    .flex-display;
  }
  .head_col{
    .flex-display;
    .flex-direction(column);
    .justify-content(space-around);
  }
  .logo_info{
    .justify-content(space-between);
    margin-top: 2rem;
    max-width: 43rem;
  }
  .logo_info .slogan{
    margin: 0;
    font-size: 1.625rem;
    line-height: 2.2rem;
    letter-spacing: -0.09rem;
  }
  .button{
    height: 5.125rem;
  }
  .intext_banner1_text {
    line-height: 3rem;
    font-size: 2rem;
  }
  .intext_banner1_text .row_2 {
    font-size: 2.5rem;
  }
  .comment{
    .flex-direction(column);
  }
  .comment_content{
    max-width: 42rem;
    margin: 2rem 0;
  }
  .name_stars{
    max-width: 32rem;
    margin-bottom: 1.5rem;
    .justify-content(center);
    font-size: 2.125rem;
  }
  .name_stars .stars{
    margin-left: 1rem;
  }
  .comment_text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
  }
  .three_girls img,
  .brush_intext_bunner img,
  .banner1_mob_container img,
  .banner2_mob_container img,
  .table_img img{
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 795px){
  .intext_banner1_text {
    font-size: 1.7rem;
    line-height: 2.6rem;
  }
  .intext_banner1_text .row_2 {
    font-size: 2.125rem;
  }
}

@media screen and (max-width: 760px){
  .main_content{
    max-width: 96%;
  }
  .logo_info{
    padding: 0 0.5rem;
  }
  h2, p {
    max-width: 97%;
  }
}

@media screen and (max-width: 720px){
  .logo img{
    width: 100%;
    height: auto;
  }
  .logo_info .brush{
    margin-right: 1rem;
  }
  .logo_info .brush img{
    width: 100%;
    height: auto;
  }
  .video{
    width: 100%;
  }
}

@media screen and (max-width: 640px){
  html{
    font-size: 14px;
  }
  header{
    height: 7.7rem;
  }
  .banner1_mobile {
    text-align: right;
    width: 65%;
    height: auto;
  }
}

@media screen and (max-width: 570px){
  .logo_info .slogan {
    font-size: 1.5rem;
  }
  .intext_banner1_text {
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
  .intext_banner1_text .row_2 {
    font-size: 1.75rem;
  }
  .comment>img{
    width: 100%;
    height: auto;
  }
  .comment_text {
    font-size: 1.13rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 520px){
  .logo_info .slogan {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .intext_banner1_text {
    font-size: 1.2rem;
  }
  .intext_banner1_text .row_2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 450px){
  html{
    font-size: 12px;
  }
  header {
    height: 9.2rem;
  }
  .button {
    height: 4.125rem;
  }
  .name_stars .stars{
    .flex-display;
  }
  .name_stars .stars div{
    margin-right: 0.5rem;
  }
  .stars{
    width: 40%;
    height: auto;
  }
  .stars img{
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 385px){
  .banner1_mobile {
    margin: 0.5rem;
  }
  .logo_info .slogan {
    font-size: 1.1rem;
    line-height: 1.8rem;
  }
  .name_stars{
    font-size: 2rem;
  }
  h1,
  h2,
  .last_header {
    font-size: 1.5rem;
    line-height: 2.1rem;
  }
}
