@import "config.less";

.max_body_width {
  max-width: 1200px;
}

body {
  min-width: 320px;
  .max_body_width;
  margin: auto !important;
  background: #f1f4f8;

}

html {
  font-family: Open_sans;
  font-size: 16px;

  @media only screen and (max-width: @mobile-view) {
    font-size: 26px;
  }
  @media only screen and (max-width: 780px) {
    font-size: 16px;
  }
  @media only screen and (max-width: 320px) {
    font-size: 12px;
  }
}

.header-logo {
  width: 100%;
  margin: 1rem 0;
  text-align: center;
}

.thank-you-order {
  font-family: Open_sans_Semibold;
  .flex-display;
  .flex-direction(row);
  .justify-content(center);
  .align-items(stretch);
  .ty-order-txt {
    margin: 0 0.5rem;
    align-self: center;
    div:first-child {
      color: #d21967;
    }
    div:last-child {
      font-size: 1.375rem;
    }
  }
}

hr {
  margin: 0.5rem;
}

.thank-you-wrapper {
  margin: 0.5rem;
  background: white;
  @media only screen and (max-width: @mobile-view) {
    background: #f1f4f8;
  }
  border-radius: 0.3rem;
  padding: 1rem 0.5rem;
  .flex-display;
  .flex-direction(row);
  .justify-content(space-between);
  .align-items(stretch);
  @media only screen and (max-width: @mobile-view) {
    .flex-wrap(wrap);
  }
  .thank-you-column1, .thank-you-column2 {
    //background: yellowgreen;
    padding: 0 0.5rem;
    .flex-basis(50%);
    @media only screen and (max-width: @mobile-view) {
      .flex-basis(100%);
    }
  }
  .thank-you-column1 {
    border-right: solid lightgray 1px;
    @media only screen and (max-width: @mobile-view) {
      border: none;
    }

    .ty-cl1-1st-block, .ty-cl1-2nd-block {
      @media only screen and (max-width: @mobile-view) {
        background: white;
      }
      border: solid lightgray 1px;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
    }
    .ty-cl1-1st-block {
      #map_canvas{
        border-radius: 0.5rem 0.5rem 0 0 ;
        height: 20rem;
        width: 100%;
      }
      .ty-1st-block-txt {
        font-size: 0.875rem;
        line-height: 1.5rem;
        padding: 1rem;
        div {
          margin: 1rem 0;
          b{
            font-family: Open_sans_bold;
          }
        }
      }
    }
    .ty-cl1-2nd-block {
      padding: 1rem;
      .ty-2nd-header {
        width: 100%;
        font-family: Open_sans_bold;
        margin-bottom: 1rem;
      }
      .ty-2nd-info {
        .flex-display;
        .flex-direction(column);
        .justify-content(center);
        .align-items(stretch);
        .ty-2nd-row {
          .flex-display;
          .flex-direction(row);
          .justify-content(space-between);
          .align-items(stretch);
          //background: #d6606d;
          margin: 0.3rem 0;
          font-size: 0.875rem;
          .ty-2nd-name {
            .flex-basis(50%);
            //background: darkgoldenrod;
            b {
              font-family: Open_sans_Semibold;
            }
          }
          .ty-2nd-value {
            .flex-basis(50%);
            //background: yellow;
            b {
              font-family: Open_sans_Semibold;
            }
          }
        }
        .ty-2nd-row-header {
          margin: 1rem 0;
        }
      }
    }
  }
  .thank-you-column2 {
    .ty-cl2-1st-block {
      border: solid lightgray 1px;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
      padding: 1rem;
      background: #fafafa;
      font-size: 0.875rem;
      hr {
        margin: 1rem 0;
      }
      .ty-cl2-row {
        .flex-display;
        .flex-direction(row);
        .justify-content(space-between);
        .align-items(center);
        margin-bottom: 1rem;
        .ty-cl2-row-name {
          .flex-basis(70%);
          .ty-cl2-itm-wrapper {

            .flex-display;
            .flex-direction(row);
            .justify-content(flex-start);
            .align-items(center);
            .ty-cl2-itm-img {
              min-width: 3.375rem;
              max-width: 6.25rem;
              padding: 0.5rem;
              background: white;
              border: 1px solid darkgrey;
              border-radius: 0.5rem;
              img {
                width: 100%;
              }
            }
            .ty-cl2-itm-img-wrapper {
              position: relative;
            }
            .ty-cl2-itm-img-num {
              .ty-cl2-itm-img-num-1st {
                .flex-display;
                .flex-direction(row);
                .justify-content(flex-start);
                .align-items(center);
                .ty-cl2-itm-img-num-2nd {
                  padding: 0.5rem 0.8em;
                  width: 100%;
                  background: url("@{picture-url}/thank_you/round-for-num.png") 0 0 no-repeat;
                  background-size: 100%;

                }
              }
              position: absolute;
              z-index: 2;
              left: 80%;
              top: -10%;
              color: white;
              font-family: Open_sans_Semibold;
              font-size: 1rem;
            }
          }
          .ty-cl2-itm-name {
            padding-left: 2rem;
          }
        }

      }
      .ty-cl2-row-value {
        .flex-basis(30%);
        text-align: right;
      }
    }
    .ty-cl2-2nd-block {
      padding: 1rem;
      .flex-display;
      .flex-direction(column);
      .justify-content(flex-start);
      .align-items(stretch);
      @media only screen and (max-width: @mobile-view) {
        border: solid lightgray 1px;
        border-radius: 0.5rem;
        .align-items(center);
        background: #fafafa;
      }
      .ty-cl2-2nd-block-txt {
        font-family: Open_sans_Semibold;
        font-size: 1.125rem;
        color: #d21967;
      }
      .ty-2nd-block-sn {

        margin: 1rem 0;
        .flex-display;
        .flex-direction(row);
        .justify-content(flex-start);
        .align-items(center);
        img {
          margin: 0 0.5rem;
          @media only screen and (max-width: @mobile-view) {
            margin: 0 1.2rem;
          }
        }
      }

    }
  }
  .ty-contact-us-block {
    padding: 1rem;
    .flex-display;
    .flex-direction(column);
    .justify-content(flex-start);
    .align-items(stretch);
    font-size: 0.875rem;
    @media only screen and (max-width: @mobile-view) {
      margin-top: 1rem ;
      border: solid lightgray 1px;
      border-radius: 0.5rem;
      .align-items(center);
      background: #fafafa;
    }
    .ty-contact-us-block-txt {
      line-height: 1.8rem;
      @media only screen and (max-width: @mobile-view) {
        text-align: center;
      }
      a {
        text-decoration: none;
      }
      span {

        a:link, a:visited, a:hover, a:active {
          color: #d3226d;
        }
      }

    }
    .ty-contact-us-block-button {

      button {
        margin: 1.5rem 0;

        width: 50%;
        @media only screen and (max-width: @mobile-view) {
          width: 100%;
        }
        background: #d21967;
        border-radius: 0.5rem;
        border: none;
        outline: none;
        cursor: pointer;
        color: white;
        padding: 1rem;
        font-family: Open_sans_Semibold;
        text-transform: uppercase;
      }
      button:focus {
        border: none;
        outline: none;
      }
      button:active {
        background: #710d39;
      }
    }
  }
  .this-place-or-no{
    @media only screen and (min-width: @mobile-view) {
      display: none !important;
    }
  }
  .now-you-see-me{
    @media only screen and (max-width: @mobile-view) {
      display: none !important;
    }
  }
}

.chkout-footer {
  background: #515151;
  margin: 1rem 0.5rem 0 0.5rem;
  padding: 1rem;
  color: white;
  .flex-display;
  .flex-direction(row);
  .justify-content(space-between);
  .align-items(center);
  @media only screen and (max-width: @mobile-view) {
    .flex-direction(column);
    .align-items(stretch);
    text-align: center;
    padding-bottom: 0;
    margin: 0;
  }
  .chkout-footer-txt-left {
    line-height: 1.5rem;
    @media only screen and (max-width: @mobile-view) {
      height: 3rem;
    }
  }
  .chkout-footer-txt-right {
    text-align: right;
    @media only screen and (max-width: @mobile-view) {
      margin: 2rem 0;
      text-align: center;
    }
  }
}
